<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.github.winnebago</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Library/Application Support/Winnebago/Winnebago.app/Contents/MacOS/Winnebago</string>
	</array>
	<key>ThrottleInterval</key>
	<integer>10800</integer>
	<key>KeepAlive</key>
	<dict>
		<key>PathState</key>
		<dict>
			<key>/Library/Caches/.runADUtility</key>
			<true/>
		</dict>
	</dict>
	<key>StandardOutPath</key>
	<string>/Library/Logs/Winnebago/Winnebago.log</string>
	<key>StandardErrorPath</key>
	<string>/Library/Logs/Winnebago/Winnebago.log</string>
</dict>
</plist>
